*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
}
body{
    width: 207.65vb;
    overflow-x: hidden;
}
.container{
    height: 100%;
    width: 207.65vb;
    
}
.header{
    height: 600px;
    width:207.75vb ;
}
.navbar{
    height:12% ;
    width: 100%;
    background-color: rgba(27, 26, 26, 0.685);
    
}
.navbar img{
    height: 70%;
    width: 4%;
   margin-left: 30px;
    border-radius:15px;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar h1{
    font-family: serif;
    font-weight: 900;
    color:rgb(48 241 0);
    font-size: 2rem;
}
 .listitems ul{
    display: flex;
    gap: 40px;
    margin-left: 90px;
}
.listitems ul li{
    list-style: none;
   border-radius: 20px;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.listitems ul li:hover{
    background-color:white;
    color: black;

    
}
.listitems ul li a{
    text-decoration: none;
    display: block;
    padding: 3px 40px;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;


}
.listitems ul li a:hover{
    color: black;
 
}
.mid{
    height: 30%;
    width: 50%;
    position: absolute;
    left: 200px;
    top: 100px;display: flex;
    flex-direction: column;
   justify-content: center;
   margin: 10px;
}
.mid h1{
    color: white;
    font-size: 4rem;
    font-weight: 800;
}
.mid p{
    color: rgba(242, 231, 231, 0.945);
    font-size: 2rem;
    font-weight:lighter;
}
.mid button{
    height: 50px;
    width: 120px;
    border-radius: 10px;
    background-color: rgba(248, 9, 9, 0.608);
    margin: 10px 69px;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    text-shadow: 2px 2px black;
}

.main main{
  
    width: 100%;
   display: flex;
    gap: 7%;
    justify-content:space-around;
  
   
}
.service1{
    height: 400px;
    width: 33%;
    background: color #f2f2f2;;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    border: 3px solid brown;
   
}
.service1 img{
    height: 55%;
    width: 90%;
    margin: 5px;
}
.service1 h1{
text-align: center;
font-size: 2.2rem;
font-weight: 800;
margin-top: -2px;


}
.service1 p{
    text-align: justify;
  margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1rem;

}
.service2{
    display: flex;
    flex-direction: column;
    background-color: color #f2f2f2; 
    align-items: center;
    height: 400px;
    width: 33%;
    border-radius: 20px;
    border: 3px solid  brown;
   
}
.service2 h1{
    text-align: center;
    font-size: 2.2rem;
        font-weight: 800;
    margin-top: -2px;}
        .service2 img{
            height: 55%;
            width: 90%;
            margin: 5px;
        }
        .service2 p{
            text-align: justify;
            font-size: 1rem;
            margin-left: 20px;
            margin-right: 20px;
         margin-top: 8px;
        }
.service3{
    display: flex;
    flex-direction: column;
    background-color:  color #f2f2f2;
    align-items: center;
    gap: 10px;
    height: 400px;
    width: 33%;
    border-radius: 20px;
    margin-right: 40px;
    border: 3px solid  brown;
   
}
.service3 img{
    height: 55%;
    width: 90%;
   
}
.service3 h1{
    text-align: center;
    font-size: 2.2rem;
        font-weight: 800;
    margin-top: -13px;
}
.service3 p{
    text-align: justify;
    font-size: 1rem;
    margin-left: 20px;
    margin-right: 20px;
 margin-top: 8px;
}
 .service{
   text-align: center;
    margin: 20px 30px;
    font-size: 2rem;
    width: 100%;
    font-weight: 800;

}
.logo img{
    height: 150px;
}
#apple{
    height: 120px;
   
}
.logo{
    display: flex;
    gap: 43px;
    justify-content: center;
    align-items: center;
 
    opacity: 1.4;
}
.client::before{
    content: "";
    position: absolute;
background-image: url('bg1.jpg');
height: 300px;
opacity: 0.3;
z-index: -1;
width: 207.75vb;

}
#client{
text-align: center;
font-size: 1.8rem;
font-family: cursive;

}
.client{
    margin-top: 20px; 
    height: 300px;

}
.footer{
    width: 100%;
    height: 500px;
    margin-top: 20px;
}
.footer::before{
    content: "";
    background-image:url('contact-us.jpg') ;
    height: 500px;
    width: 207.65vb;
  position: absolute;
    opacity: 0.5;
    z-index: -1;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    justify-content: center;
    gap: 20px;
}
#contct{
    font-size: 1.8rem;
    text-align: center;
    text-emphasis: bold;
    font-family: cursive;
    
}
.form label{
    text-emphasis: bold;
    font-size: 1rem;
}
.form input{
    height: 30px;
    width: 700px;
    border-radius: 10px;
    box-shadow: 2px 2px black;
}
.message textarea{
    height: 80px;
    width: 700px;
    border-radius: 10px;
    box-shadow: 2px 2px black;
}
 .nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


